* {
    padding: 0;
    margin: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    transition: .4s;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dark {
    background: #1F2E35;
    color: white;
    transition: .7s linear;
}

.white {
    transition: .7s linear;
}

/*header start*/
#header {
    padding: 25px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.49);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.dark > #header {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.49);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;
}

.dark .header-logo h1 {
    color: white;
}

.header-nav a {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
    transition: .4s;
}

.dark .header-nav a {
    color: white;
}

.header-nav a:hover {
    color: deepskyblue;
    text-decoration-line: underline;
}

.header-btn-one {
    color: #173A56;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    padding: 10px 24px;
    background: transparent;
}

.header-btn-one:hover {
    background: #02897A;
    border-radius: 30px;
}

.dark .header-btn-one {
    color: white;
}

.header-btn-two {
    padding: 10px 24px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background: #02897A;
    margin: 0 24px;
}

.header-btn-three {
    width: 32px;
    height: 32px;
    background: #F3F3F3;
    border-radius: 50%;
    color: #02897A;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark .header-btn-three {
    rotate: 180deg;
    background: #F3F3F3;
}

.header-btn {
    display: flex;
    align-items: center;
}

/*header end*/


/*hero-start*/

#hero {
    padding: 70px 0;
}

.text-hero h1 {
    width: 400px;
    color: #22343D;
    font-size: 40px;
    font-weight: 600;
    line-height: 149%;
}

.text-hero p {
    width: 535px;
    color: #22343D;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    padding: 24px 0;
}

.join-block h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
}

.join-block button {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    background: #02897A;
    height: 50px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.join-block {
    margin: 0 0 24px 0;
    width: 469px;
    height: 66px;
    border-radius: 100px;
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fhoto-hero h2 {
    color: #22343D;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}

.fhoto-hero h2 span {
    color: #02897A;
}

.fhoto-hero {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*hero-end*/

.latest h1 {
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.latest p {
    text-align: center;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0 32px 0;
}

.latest-block {
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.18);
    width: 348px;
    height: 359px;
    transition: .5s;
    padding-bottom: 30px;
    margin-bottom: 32px;
}

.latest-block:hover > h2 {
    color: #02897A;
}

.latest-block img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 8px 8px 0 0;
}


.latest-block h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0 12px 24px;
}

.latest-block h2 {
    width: 294px;
    padding-left: 24px;
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.latest-general {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



#contact {
    padding: 160px 0 60px 0;
}

.contact h1 {
    color: #252B42;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.contact p {
    color: #374754;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 27px 0 55px 0;
}

.contact-icon {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;

}
.contact-icons {
    padding-right: 10px;
    padding-bottom: 65px;
}


.map-img {
    width: 871px;
    height: 323.185px;
}



.send-block h1 {
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 51px;
}


.send-block {
    width: 868px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #DDD;
    background: #FFF;
}

.send-two input {
    display: flex;
    width: 768px;
    padding: 19px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    margin: 45px 50px 45px 50px;
}

/*.send-one input {*/
/*    display: flex;*/
/*    width: 768px;*/
/*    padding: 19px 20px;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    gap: 47px;*/
/*    border-radius: 39px;*/
/*    border: 1px solid #E8E8E8;*/
/*    background: #F5F5F5;*/
/*}*/

.send-block button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background: #02897A;
    padding: 18px 38px;
    margin-bottom: 52px;
    margin-left: 50px;
}

.send-general {
    display: flex;
    justify-content: center;
    align-items: center;
}








/*footer start*/

.logo-two{
    display: flex;
}

.logo-two h1 {
    padding-left: 8px;
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
}

.dark .logo-two h1 {
    color: white;
}

.footer-icon {
    display: flex;
    padding-top: 15px;

}
.footer-icons {
    padding-right: 10px;
}

.footer-one h1 {
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
}

.dark .footer-one h1 {
    color: white;
}

.footer-one a {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    padding-top: 8px;
}

.dark .footer-one a {
    color: white;
}

.footer-one a:hover {
    color: dodgerblue;
    text-decoration-line: underline;
}

.footer-one {
    display: flex;
    flex-direction: column;
}

.footer-input h1 {
    width: 280px;
    height: 57px;
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.dark .footer-input h1 {
    color: white;
}

.input-footer{
    width: 325px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: #FFF;
    margin: 34px 0 21px 0;
}

.input-footer input {
    margin: 10px 128px 10px 15px;
    color: #BCD0E5;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-input button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 131px;
    height: 39px;
    border-radius: 4px;
    background: #02897A;
}

.footer h2 {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 394px;
    height: 31px;
}

.dark .footer h2{
    color: white;
}

.footer-general {
    padding: 150px 0 25px 0;
    display: flex;
    justify-content: space-between;
}


/*footer end*/
